*{
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
video {
  max-width: 100%;
  height: auto;
  display: block;
}
body{
    min-height: 100vh;
    background: linear-gradient(#B8E7FA,#E6E6FA);
}

p{
    line-height: 26px;
}
header{
     background-color: white;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo span{
    color:#FFA500;
}
.btn{
    background-image: linear-gradient(#FFA500,#FFD447);
    color: #0D1321;
    border-radius: 10px;
    border: none;
    padding: 17px 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-image: linear-gradient(to right,rgba(0,0,0,0.938),#ffa60098);
  background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.hero{
    margin-top: 100px;
    background-color:#E6EDF9;
    margin: 40px;
    padding: 40px 60px;
    text-align: center;
    gap: 32px;
    margin-bottom: 100px;
}


.hero img{
    margin-top: 40px;
    margin-bottom: 32px;
}
.hero-section-content{
    line-height: 40px;
}
.hero-section-content h1{
    font-weight: bold;

}
.hero-section-content p{
    line-height: 26px;
    color:#0D1321 ;
    margin-bottom: 32px;
    margin-top: 26px;
}
.heading{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
   
}

.about h2,p{
    text-align: center;
}
.about p{
   
     margin-bottom: 48px;
}
.about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6EDF9;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px;
    padding: 40px;
    border-radius: 20px;
    
}
.video{
    margin-bottom: 100px;
}
.video p{
    margin-top: 30px;
     margin-bottom: 48px;
}
.video-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
    gap: 10px;  
    margin: 30px; 
  

}
.card{
    background: linear-gradient(#E6EDF9,#9DE5FF);
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    text-align: center;


}
.footer{
    font-size: 14px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px 150px;
    flex-wrap: wrap;
}
.text{
    font-size: 20px;
    font-weight: bold;
}
.social-icons{
    display: flex;
    gap: 10px;

}